<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja | <%= title %></title>
</head>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt distinctio nisi iure maiores deserunt assumenda consequuntur, rem dicta fuga consectetur? Earum, eos eaque. Voluptatum nobis sapiente commodi odit iure. Sequi!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt distinctio nisi iure maiores deserunt assumenda consequuntur, rem dicta fuga consectetur? Earum, eos eaque. Voluptatum nobis sapiente commodi odit iure. Sequi!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt distinctio nisi iure maiores deserunt assumenda consequuntur, rem dicta fuga consectetur? Earum, eos eaque. Voluptatum nobis sapiente commodi odit iure. Sequi!</p>
    </div>
      
</body>
</html>